In [1]:
# Create a list using []
a = [1, 2 , 4, 56, 6]

# Print the list using print() function
print(a)

# Access using index using a[0], a[1], a[2]
print(a[2])

# Change the value of list using
a[0] = 98
print(a)

# We can create a list with items of different types
c = [45, "Harry", False, 6.9]
print(c)

[1, 2, 4, 56, 6]
4
[98, 2, 4, 56, 6]
[45, 'Harry', False, 6.9]

In [2]:
# List slicing
friends = ["Harry", "Tom", "Rohan", "Sam", "Divya", 45]
print(friends[0:4])
print(friends[-4:])

['Harry', 'Tom', 'Rohan', 'Sam']
['Rohan', 'Sam', 'Divya', 45]

In [3]:
l1 = [1, 8, 7, 2, 21, 15]
print(l1)
# l1.sort() # sorts the list
# l1.reverse() # reverses the list
#l1.append(45) # adds 45 at the end of the list 
# l1.insert(2, 544) # inserts 544 at index 2
# l1.pop(2) # removes element at index 2
l1.remove(21) # removes 21 from the list
print(l1)

[1, 8, 7, 2, 21, 15]
[1, 8, 7, 2, 15]

In [4]:
a = [2, 4, 56, 7]

print(a[0] + a[1] + a[2] + a[3])
print(sum(a))

69
69

In [5]:
# Creating a tuple using ()
t = (1, 2, 4, 5)

# t1 = () # Empty tuple
# t1 = (1) # Wrong way to declare a Tuple with Single element
t1 = (1,) # Tuple with Single element
print(t1)

# Printing the elements of a tuple
# print(t[0])

# Cannot update the values of a tuple
# t[0] = 34 # throws an error

(1,)

In [6]:
# Creating a tuple using ()
t = (1, 2, 4, 5, 4, 1, 2,1 ,1)

print(t.count(1))
print(t.index(5))

4
3

In [7]:
f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")
f5 = input("Enter Fruit Number 5: ")
f6 = input("Enter Fruit Number 6: ")
f7 = input("Enter Fruit Number 7: ")

myFruitList = [f1, f2, f3, f4, f5, f6, f7]
print(myFruitList)

Enter Fruit Number 1: 522
Enter Fruit Number 2: 22
Enter Fruit Number 3: 212
Enter Fruit Number 4: 2223
Enter Fruit Number 5: 33
Enter Fruit Number 6: 322
Enter Fruit Number 7: 221
['522', '22', '212', '2223', '33', '322', '221']

In [9]:
m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
m6 = int(input("Enter Marks for Student Number 6: "))

myList = [m1, m2, m3, m4, m5, m6]
myList.sort()
print(myList)

Enter Marks for Student Number 1: 1
Enter Marks for Student Number 2: 2
Enter Marks for Student Number 3: 3
Enter Marks for Student Number 4: 5
Enter Marks for Student Number 5: 6
Enter Marks for Student Number 6: 12
[1, 2, 3, 5, 6, 12]

In [12]:
a = (2,4,5,3,2)
##a[1] = 45 'tuple' object does not support item assignment