# Pandas

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.2.4

In [4]:
#Create a series
a = [0,1,2,3,4]
s = pd.Series(a)
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [6]:
order = [1,2,3,4,5]
s2 = pd.Series(a, index=order)
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [7]:
import numpy as np
n = np.random.randn(5)
index = ['a','b','c','d','e']
s2 = pd.Series(n, index=index)
s2

a   -1.446303
b   -0.278653
c    2.444782
d    1.107417
e   -0.570358
dtype: float64

In [8]:
#dict

d = {'a':1, 'b':2}
s3 = pd.Series(d)
s3

a    1
b    2
dtype: int64